/build/www/**
/src/test/javascript/covarage/
/src/test/javascript/PhantomJS*/

/node/
node_tmp/
node_modules/
npm-debug.log.*

.sass-cache/

*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath
/src/main/resources/rebel.xml

.externalToolBuilders/**
*.launch
.cproject
.buildpath

.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

.vscode/

/log/
/target/

.gradle/
/build/

*.jar
*.war
*.ear
*.db

Thumbs.db
Desktop.ini

.DS_Store
.svn

._*

.Spolight-V100
.Trashes

/bin/
/deploy/

*.log

*.class
*.*~
*~
.merge_file*
!gradle/wrapper/gradle-wrapper.jar
!.mvn/wrapper/maven-wrapper.jar

.eslintcache

*.lst
*.jar.original
pom.properties
release.properties

pom.xml.releaseBackup
